/* IMPORTS */

@font-face {
    font-family: "Chintzy Heavy";
    src: url(./src/font/ZTChintzy-Heavy.ttf);
}

/* GLOBAL DECLARATIONS */

* {
    margin: auto;
    padding: 0px;
}

body{
    width: 60.625rem;
    font-size: 65%;
    background-color: rgb(219 204 218);
}

nav {
    background: #f9f9f9;
    height: 4.5rem;
    display: block;
}

nav .logo {
    text-align: left;
    width:30%;
    display:inline-block;
    padding: 1% 2% 0.6% 3%;
    font-size: 2rem;
    font-family: "Chintzy Heavy", sans-serif;
}

nav h3 {
    text-align: right;
    display:inline-block;
    width: 63%;
    font-size: 1.5rem;
}

.container {
    background: linear-gradient(
        #1d0d11 0%,
        #6f5964 50%,
        #4f3b43
    );
    padding: 15px 20px 15px;
}

/*ABOUT*/

.middle-about {
    max-height: 20rem;
    min-width: 30%;
}

.profile-photo {
    display: inline-block;
    width: 44%;
    padding: 7px;
}

.profile-photo img {
    max-width: 95%;
    border: 1px solid gray;
    border-width: 5px;
}

.about {
    display: inline-block;
    max-width: 53%;
    height: 16.6rem;
    background: linear-gradient(
        #fff 25%,
        #e5e5e5 60%,
        gray
    );
    vertical-align: top;
    margin: 7px 5px 5px;
}

.about h3,
.flyer-one h3,
.flyer-two h3,
.flyer-three h3 {
    background: linear-gradient(
        rgb(198, 198, 198) 0%,
        gray 50%,
        silver
    );
    color: #fff;
    padding: 5px 1px 5px 5px;
    font-size: 1.5rem;
}

.text {
    padding: 12px 15px 15px;
    font-size: 1.05rem;
}

.about p {
    padding-bottom: 1.2rem;
}

.about a {
    color: #000;
    
}

/* FLYERS */

.flyers {
    display: grid;
    padding: 20px 0 10px 8px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}

/* FLYER ONE */

.flyer-one {
    grid-column: 0/1;
    background:linear-gradient(
        to right,
        rgb(254 253 254) 20%,
        rgb(242 237 242) 40%,
        rgb(230 219 229) 70%,
        rgb(219 204 218)
    );
}

.flyer-one h3,
.flyer-two h3,
.flyer-three h3 {
    width: 96.5%;
    padding-left: 0.6rem;
}

.img-flyer_one,
.img-flyer_two,
.img-flyer_three {
    max-width: 100%;
}

.content-flyer_one p {
    font-size: 1rem;
    padding: 0.55rem 1rem 5.35rem 0.8rem;
    text-align: justify;
}

.logos-flyer_one {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0.5rem 0 0.5rem
}

.logos-flyer_one img {
    padding-bottom: 0.5rem;
    max-width: 80%;
}

.flyer-one a {
    display: flex;
    background: green;
    width: 4rem;
    font-size: 0.7rem;
    padding: 0.3rem;
    color: linen;
    text-decoration: none;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow:0.8px 1px #000;
    margin-bottom: 1rem;
}

/* FLYER TWO */

.flyer-two {
    grid-column: 2/3;
    background:linear-gradient(
        to right,
        rgb(254 253 254) 20%,
        rgb(242 237 242) 40%,
        rgb(230 219 229) 70%,
        rgb(219 204 218)
    );
}

.content-flyer_two p {
    font-size: 1rem;
    padding: 0.55rem 1rem 3.1rem 0.8rem;
    text-align: justify;
}

.logos-flyer_two {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0.5rem 0 0.5rem
}

.logos-flyer_two img {
    padding-bottom: 0.5rem;
    max-width: 80%;
}

.flyer-two a {
    display: flex;
    background: green;
    width: 5rem;
    font-size: 0.7rem;
    padding: 0.3rem;
    color: linen;
    text-decoration: none;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow:0.8px 1px #000;
    margin-bottom: 1rem;
}

/* FLYER THREE */

.flyer-three {
    grid-column: 3;
    background:linear-gradient(
        to right,
        rgb(254 253 254) 20%,
        rgb(242 237 242) 40%,
        rgb(230 219 229) 70%,
        rgb(219 204 218)
    );
}

.content-flyer_three p {
    font-size: 1rem;
    padding: 0.55rem 1rem 0.7rem 0.8rem;
    text-align: justify;
}

.logos-flyer_three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0.5rem 0 0.5rem
}

.logos-flyer_three img {
    padding-bottom: 0.5rem;
    max-width: 80%;
}

.flyer-three a {
    display: flex;
    background: green;
    width: 4rem;
    font-size: 0.7rem;
    padding: 0.3rem;
    color: linen;
    text-decoration: none;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow:0.8px 1px #000;
    margin-bottom: 1rem;
}

/* INICIO FOOTER */

footer {
    background-color: #f9f9f9;
    height: 5rem;
}

.top-footer {
    text-align: center;
}

.contact {
    font-size: 1.3rem;
    padding-top: 0.4rem;
}

.social-icons {
    font-size: 1.2rem;
    justify-content: center;
    text-align: center;
    margin-top: 0.6rem;
}

.social-icons img {
    max-width: 1.3rem;
    padding-right: 0.15rem;
}

.social-icons a {
    color: #000;
}