* {
    margin: auto;
    padding: 0;
}

body {
    background: #000000e5;
}

header{
    background: #172913;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 20px auto;
    width: 30%;
    border: 1px solid #fff;
    height: 70px;
}

.container {
    margin: 30px auto;
    background: #2e6837ef;
    padding: 20px;
    width: 50%;
}

h1 {
    font-size: 20px;
}

.green-leaf, .green-oak, .yellow-green {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

.green-leaf {
    background: #578d4f;
    width: 50%;
    padding: 20px;
    height: 250px;
    text-align: right;
}

.green-oak {
    background: #2c503a;
    width: 42%;
    height: 280px;
    padding: 20px;
}

.yellow-green {
    background-color: rgba(112, 149, 38, 0.807);
    width: 60%;
    height: 300px;
    padding: 20px;
    text-align: center;
}

