* {
    margin: 0;
    padding: 0;
}

.container ul li a{
    padding: 20px;
    position: relative;
    width: 100%;
}

.container ul li{
    list-style: none;
}

.ayuda {
    display: flex;
}

.title,
p {
    padding: 20px;
}

img {
    max-width: 300px;
    border-radius: 50px;
    padding: 20px;
}