/* GLOBAL STYLING */

@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

* {
    margin: auto;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 970px;
    font-size: 62.5%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* INICIO HEADER */

/* LOGO + NOMBRE*/
.top-header {
    display: flex;
}

.top-header h1 {
    font-size: 2.7rem;
    font-family: "Comic Sans MS", "Comic Sans";
    cursor: pointer;
}

@media only screen and (max-width: 500px){
    body {
        width: 100%;
    }
    .top-header {
        display: block;
        text-align: center;
        
    }
    .top-header img:first-child {
        display: inline-block;
    }
    .top-header h1 {
        display: inline-block;
        font-size: 3rem;
    }
}

.top-header img:first-child{
    background-color: #00d1b2;
}

.top-header img:last-child{
    height: 3rem;
    cursor: pointer;
}

.top-header a {
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;
    transition: .5s;
}

.top-header a:hover {
    color: #00d1b2;
    transition: .5s;
}

/* SEARCH BOX */

.search_box {
    display: flex;
    width: 50%;
}

.search_box input:first-child {
    height: 2.5rem;
    width: 100%;
    border-radius: 3rem;
    padding: 0 3rem 0 1.5rem;
    font-size: 1.2rem;
    transition: 1s;
    border: 1px solid black;
}

.search_box input:first-child:focus{
    outline: none;
    border: 1px solid orange;
    transition: 1s;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.search_box input:last-child{
    width: 1.8rem;
    margin-left: -3.2rem;
}

@media only screen and (max-width: 500px){
    .search_box {
        margin-top: 20px;
    }

    .top-header a,
    .top-header img:last-child{
        display: none;
    }
}

/* NAV BAR */

nav ul {
    margin-top: 1.5rem;
    display: flex;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 5px solid black;
    padding-bottom: 1rem;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    transition: 1s;
}

nav ul li a:hover{
    transition: .5s;
    color: #00d1b2;
}

.toggle-menu {
    display: none;
}

@media only screen and (max-width: 500px){
    .main-menu{
        flex-direction: column;
        align-items: center;
        background-color: #00d1b2;
        transform: translateX(-300%);
        transition: transform 0.5s;
    }
    nav ul li {
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }
    nav ul li a:hover{
        transition: .5s;
        color: #fff;
    }
    .toggle-menu {
        display: inline;
        position: absolute;
        top: 12.5rem;
        left: 47.5%;
        font-size: 40px;
        cursor: pointer;
        transition: 0.5s;
    }
    .main-menu--show {
        transform: translateY(0);
    }
    .movement-menu--toggle {
        left: 90%;
        z-index: 9999;
        transition: 0.5s;
    }
    .movement-body-height--togle {
        padding-bottom: 150px;
    }
}

/* FIN HEADER */
/* INICIO MAIN */

/* TEXT + IMAGEN */

@media only screen and (max-width: 500px){
    .container {
        transform: translateY(-7%);
        transition: transform .5s;
    }
    .movement-container--toggle {
        transform: translateY(0%);
    }
}

main h2 {
    text-align: center;;
    font-size: 2rem;
    margin-top: 1.5rem;
    word-spacing: 3px;
    
}

.images-with-transitions {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 20rem;
    column-gap: 2rem;
    color: #fff;
}

.text-with-images {
    display: flex;
}

.text{
    margin-top: -0.1px;
    padding: 1.46rem 1.5rem 1.28rem;
    background: #00d1b2;
    font-size: 2rem;
    height: 282px;
}

@media only screen and (max-width: 500px){
    .images-with-transitions {
        grid-template-columns: 1fr;
    }

    .text-with-images {
        display: grid;
        max-width: 100%;
        margin: 0;
    }

    .text {
        display: grid;
        max-width: 100%;
        padding: 1rem;
        margin-bottom: 20px;
        height: 80%;
    }

    .discover {
        max-width: 43%;
    }

    .text-with-images .images {
        margin-bottom: 15px;
    }
}

.text h3 {
    text-align: center;
}

.discover {
    display: flex;
    width: 65%;
    padding-top: 20px;
    transition: 1s;
    cursor: pointer;
}

.discover:hover {
    padding-left: 30px;
}

.discover img {
    width: 40px;
}

.images {
    position: relative;
}

.images .image-sustitution {
    position: absolute;  
    top: 0;  
    left: 0;
    opacity: 0;
    transition: 1s;
}

.images:hover .image-sustitution {
    opacity: 1;
}

.discover-two {
    display: flex;
    padding: 1rem 1rem 1rem;
    transition: 1s;
    cursor: pointer;
    background: #00d1b2;
    height: 3.4rem;
    font-size: 1.8rem;
    margin-top: 1rem;
    transition: 0.5s;
    text-align: left;
}

.discover-two > .arrow {
    position: relative;
    margin: -5px 6px 0px;
    transition: all .3s ease;
}

.discover-two:hover .arrow {
    transform: translate(8px, 0px);
}

/* PLANT SAMPLES */

.plant-samples {
    margin-top: 2rem;
    background-color: #aae8d8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 3rem;
    padding-bottom: 1rem;
    margin-bottom: -1rem;
}

.plant-samples div {
    padding: 0.5rem 0.5rem 0.5rem;
    text-align: center;
}

.plant img {
    border-radius: 50%;
    max-width: 80%;
    padding-bottom: 10px;
}

.plant a{
    font-size: 0.8rem;
    text-decoration: none;
    color: #000;
    transition: .5s;
}

.plant a:hover{
    color: #fff;
    transition: .5s;
}

@media only screen and (max-width: 500px) {
    .plant-samples {
        grid-template-columns: 1fr;
        padding-bottom: 40px;
    }
    .plant {
        margin-top: 30px;
        display: grid;
        border-bottom: 1px solid black;
    }
    .plant a {
        font-size: 20px;
        
    }
}

/* COOKIES */

#cajacookies {
    position: relative;
    border: 2px solid black;
    background: white;
    display: flex;
    padding: 5px 0;
}

#cajacookies p {
    font-size: 18px;
    width: 70%;
}

#cajacookies p a {
    color: blue;
}

#cajacookies button {
    padding: 6px;
    background: #00d1b2;
    color: #fff;
    font-weight: bold;
    box-shadow: 3px 3px black;
    font-size: 18px;
    cursor: pointer;
}

.fadeout {
    transition: opacity 1s ease-in-out;
        zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
}

@media only screen and (max-width: 500px){
    #cajacookies {
        margin-top: -220px;
        max-width: 80%;
    }
    #cajacookies p {
        font-size: 12px;
    }
    #cajacookies button {
        font-size: 12px;
        margin-right: 5px;
    }
    
}